<!-- <main>
  {{#each section}}

    <header>
      <hgroup>
        <h2><a href="{{currentFileName}}">Section &sect;{{meta.sectionNumber}}</a></h2>
      </hgroup>
    </header>

    {{#each data}}

      <article class="log-entry" itemscope itemtype="http://schema.org/CreativeWork">
        <meta itemprop="dateCreated" datetime="{{meta.date}}">
        <header>
          <hgroup>
            <h5><a href="">{{meta.title}}</a></h5>
            <h6>{{meta.timestamp}}</h6>
          </hgroup>
        </header>

        {{#each meta.sounds}}
        <nav>
          <a href="{{path}}/{{file}}" role="button">{{label}}</a>
        </nav>
        {{/each}}
        {{#each meta.images}}
        <figure>
          <a href="{{path}}/{{file}}"><img src="{{path}}/md-{{file}}" alt="{{label}}"></a>
        </figure>
        {{/each}}

      </article>
    {{/each}}
  {{/each}}
</main> -->
