<!doctype html>
<html lang="en" data-theme="dark">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>Cat Pea News Network</title>
    <meta name="description" content="Cat Pea News Network">
    <link rel="canonical" href="{{canonical}}">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="css/pico.classless.min.css">
    <link rel="stylesheet" href="css/custom.css"/>
    <script src="js/theme.js"></script>
  </head>

  <body>

    {{#if meta.isFirst}}
    <header>
      <hgroup>
        <h1>Cat Pea</h1>
        <p>Medicinal Poetry, evey day.</p>
      </hgroup>
    </header>
    {{/if}}


    <main>

      <article>
          <li>
            <a href="/index.html#{{meta.sectionName}}">Chapter &sect;{{meta.sectionNumber}} Table of Contents</a>
            <hr>

            <ul>
              {{#each data}}
              <li>
                <a href="{{../meta.currentFileName}}#{{meta.id}}">{{meta.title}}</a><br><small>Written {{meta.timestamp}}</small>
              </li>
              {{/each}}
            </ul>
          </li>
      </article>



      {{#each data}}
        <a name="{{meta.id}}"></a>
        <article class="log-entry" itemscope itemtype="http://schema.org/CreativeWork">
          <meta itemprop="dateCreated" datetime="{{meta.date}}">
          <header>
            <hgroup>
              <h2><a href="/{{meta.id}}.html">{{meta.title}}</a></h2>
              <h3>{{meta.timestamp}}</h3>
            </hgroup>
          </header>
          {{{data.html}}}
        </article>
      {{/each}}
    </main>

    <article>
      <nav>
        {{#unless meta.isNewest}}
          <a href="{{meta.olderFileName}}" role="button">&laquo;&nbsp; Older</a>
        {{/unless}}

        <!-- NOTE: Always Show Index -->
        <a href="/index.html#{{meta.sectionName}}" role="button" class="secondary">Index &nbsp;&equiv;</a>

        {{#unless meta.isOldest}}
          <a href="{{meta.newerFileName}}" role="button" class="secondary">Newer &nbsp;&raquo;</a>
        {{/unless}}
      </nav>
    </article>


    <footer>
      <p>
        <small>
          <a href="{{canonical}}" class="secondary">Cat Pea</a> &middot;
          <a href="https://news.catpea.com/" class="secondary">News</a> &middot;
          <a href="https://github.com/catpea/poetry" class="secondary">Source Code</a> &middot;
          <a href="https://catpea.github.io/poetry/" class="secondary">Mirror</a>
        </small>
      </p>
    </footer>

  </body>

</html>
