<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>header}}
    <main>

      <ul>
        {{#each section}}
            {{#each data}}
            <li>
              <hgroup>
                <h3><a href="{{../meta.currentFileName}}#{{meta.id}}">{{meta.title}}</a></h3>
                <small>Written {{meta.timestamp}}</small>
                <!-- {{#each meta.sounds}}
                  <div><a href="{{path}}/{{file}}" rel="noopener noreferrer" target="_blank" class="no-print">{{label}}</a></div>
                {{/each}} -->
              </hgroup>
            </li>
            {{/each}}
        {{/each}}
      </ul>

    </main>
    {{>footer}}
  </body>
</html>
